
<div class="container mt-5">
  <form [formGroup]="pgform" (ngSubmit)="showForm()">
    <div formGroupName= "owner_details" class="formSection owner_details mb-4"><h3>owner details</h3>

      <label class="mb-1" for="owner_name">name</label><span class="text-danger">*</span>
      <input type="email" class="form-control" id="owner_name" formControlName="name">
      <div *ngIf="pgform.controls.owner_details['controls']['name'].touched  &&  pgform.controls.owner_details['controls']['name'].errors?.['required']" class="error_message">name is mandatory</div>
      <div *ngIf="pgform.controls.owner_details['controls']['name'].touched  &&  pgform.controls.owner_details['controls']['name'].value &&  pgform.controls.owner_details['controls']['name'].status=='INVALID'" class="error_message">name should have atleast 5 charecters</div>

      <label class="mb-1 mt-3" for="owner_number">mobile</label><span class="text-danger">*</span>
      <input type="text" class="form-control " id="owner_number" formControlName="phone">
      <div *ngIf="pgform.controls.owner_details['controls']['phone'].touched  &&  pgform.controls.owner_details['controls']['phone'].errors?.['required']" class="error_message">mobile no. is mandatory</div>
      <div *ngIf="pgform.controls.owner_details['controls']['phone'].touched  &&  pgform.controls.owner_details['controls']['phone'].value &&  pgform.controls.owner_details['controls']['phone'].status=='INVALID'" class="error_message">mobile no. must hast 10 digits</div>
      <div *ngIf="pgform.controls.owner_details['controls']['phone'].touched  &&  pgform.controls.owner_details['controls']['phone'].value &&  pgform.controls.owner_details['controls']['phone'].errors?.['pattern']" class="error_message">mobile no. should only contain numbers</div>

      <label class="mb-1 mt-3" for="owner_email">email address</label>
      <input type="email" class="form-control " id="owner_email" placeholder="enter email" formControlName="email">
      <div *ngIf="pgform.controls.owner_details['controls']['email'].touched  &&  pgform.controls.owner_details['controls']['email'].value &&  pgform.controls.owner_details['controls']['email'].errors?.['pattern']" class="error_message">please provide a valid email</div>

    </div>

    <div formGroupName= "pg_details" class="formSection pg_details mb-4"><h3>pg details</h3>

      <label class="mb-1" for="pg_name">name</label><span class="text-danger">*</span>
      <input type="email" class="form-control" id="pg_name" formControlName="pg_name">
      <div *ngIf="pgform.controls.pg_details['controls']['pg_name'].touched  &&  pgform.controls.pg_details['controls']['pg_name'].errors?.['required']" class="error_message">name is mandatory</div>
      <div *ngIf="pgform.controls.pg_details['controls']['pg_name'].touched  &&  pgform.controls.pg_details['controls']['pg_name'].value &&  pgform.controls.pg_details['controls']['pg_name'].status=='INVALID'" class="error_message">name should have atleast 5 charecters</div>

      <label class="mb-1 mt-3" for="pg_location">location</label><span class="text-danger">*</span>
      <input type="email" class="form-control" id="pg_location" placeholder="provide the location link" formControlName="pg_location">
      <div *ngIf="pgform.controls.pg_details['controls']['pg_location'].touched  &&  pgform.controls.pg_details['controls']['pg_location'].errors?.['required']" class="error_message">location is mandatory</div>
      <div *ngIf="pgform.controls.pg_details['controls']['pg_location'].touched  &&  pgform.controls.pg_details['controls']['pg_location'].value &&  pgform.controls.pg_details['controls']['pg_location'].status=='INVALID'" class="error_message">please provide a valid location</div>

      <label class="mb-1 mt-3" for="deposite">deposite amount</label><span class="text-danger">*</span>
      <input type="number" class="form-control" id="deposite" formControlName="pg_deposite">
      <div *ngIf="pgform.controls.pg_details['controls']['pg_deposite'].touched  &&  pgform.controls.pg_details['controls']['pg_deposite'].errors?.['required']" class="error_message">deposite amount is mandatory</div>
      <div *ngIf="pgform.controls.pg_details['controls']['pg_deposite'].touched  &&  pgform.controls.pg_details['controls']['pg_deposite'].value &&  pgform.controls.pg_details['controls']['pg_deposite'].errors?.['pattern']" class="error_message">deposite amount should only contain no.</div>

      <label class="mb-1 mt-3" for="pg_type">pg type</label><span class="text-danger">*</span>
      <select class="form-select" aria-label="Default select example" id="pg_type" formControlName="pg_type">
        <option value="gents">gents</option>
        <option value="ladies">ladies</option>
        <option value="colive">co-live</option>
      </select>
      <div *ngIf="pgform.controls.pg_details['controls']['pg_type'].touched  &&  pgform.controls.pg_details['controls']['pg_type'].errors?.['required']" class="error_message">pg type is mandatory</div>


      <label class="mb-1 mt-3" for="pg_room_types">pg room types</label><span class="text-danger">*</span>
      <ng-multiselect-dropdown
        id="pg_room_types"
        [placeholder]="'select all that applies'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeSelect($event)"
        (onDeSelectAll) ="onItemDeSelectAll($event)"
        formControlName="pg_room_types"
      >
      </ng-multiselect-dropdown>
      <div *ngIf="subitted  &&  pgform.controls.pg_details['controls']['pg_room_types'].errors?.['required']" class="error_message">pg room type is mandatory</div>

      <div formGroupName= "pg_room_type_rents" *ngIf="selectedItems.length>0">
        <div  class="mt-2 mb-2">pg room type rents</div>
        <div class="mb-3 ms-4" *ngFor="let roomType of selectedItems">

          <label class="mb-2 d-inline" for="{{roomType}}">{{roomType}}</label><span class="text-danger">*     </span><strong>:     </strong>
          <input type="text" class="form-control d-inline w-50" id="{{roomType}}" formControlName="{{roomType}}">
          <!--          <div *ngIf="pgform.controls.pg_details.controls.pg_room_type_rents.controls['roomType'].touched" class="error_message">{{roomType}} room rent is mandatory</div>-->
          <!--          <div *ngIf="pgform.controls.pg_details.controls.pg_room_type_rents.controls['roomType'].touched" class="error_message">{{roomType}} room rent is mandatory</div>-->
          <!--          <div *ngIf="pgform.controls.pg_details.controls.pg_room_type_rents['controls']['1-sharing']['touched']  &&  pgform.controls.pg_details.controls.pg_room_type_rents['controls']['1-sharing'].errors?.['required']" class="error_message">{{roomType}} room rent is mandatory</div>-->
          <!--          <div *ngIf="pgform.controls.pg_details['controls']['pg_deposite'].touched  &&  pgform.controls.pg_details['controls']['pg_deposite'].value &&  pgform.controls.pg_details['controls']['pg_deposite'].errors?.['pattern']" class="error_message">deposite amount should only contain no.</div>-->

        </div>
      </div>

      <div class="mt-3">
        <div class="form-group row">
          <div class="col-md-8">
            <label for="no_floor">enter the number of floors</label><span class="text-danger">*</span>
              <input class="form-control" name="no_floor" id="no_floor" type="number" #floorinput (input)="createFloors(floorinput)" placeholder="0" formControlName="no_of_floors">
              <div *ngIf="pgform.controls.pg_details['controls']['no_of_floors'].touched  &&  pgform.controls.pg_details['controls']['no_of_floors'].errors?.['required']" class="error_message">no of floors is mandatory</div>
              <div *ngIf="pgform.controls.pg_details['controls']['no_of_floors'].touched  &&  pgform.controls.pg_details['controls']['no_of_floors'].value &&  pgform.controls.pg_details['controls']['no_of_floors'].errors?.['pattern']" class="error_message">floor input should be of type positive no.</div>

          </div>
        </div>
        <div>
          <br>
<!--          <div>no of floors:{{floor}}</div>-->
          <div formGroupName= "room_types_in_eachfloors" *ngIf="floor" class="MAIN_TABLE mt-3">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">floor</th>
                <th *ngFor="let room of selectedItems" scope="col">{{room}}</th>
              </tr>
              </thead>
              <tbody *ngIf="floor>0">
              <tr formGroupName= "floor{{floor}}" *ngFor="let floor of totalFloors">
                <th scope="row">{{floor}}</th>
<!--                <td *ngFor="let room of selectedItems"><input class="form-control " name="no_floor" id="{{floor}}" type="number"  placeholder="0" formControlName="floor{{floor}}{{room}}"></td>-->
                <td *ngFor="let room of selectedItems"><input class="form-control " name="no_floor" id="{{floor}}" type="number"  placeholder="0" formControlName="{{room}}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
